@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


header{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #01008C;
    opacity: 0.8;
    z-index: 1;

}

.logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}

.logo-img {
    width: 40%;
    height: auto;
}

nav {
    width: 100%;
}

ul {
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}

li {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:white;
    
    
}

li:hover {
    color:black;
    cursor: pointer
}
.index {
    background-image: url('./logo-1---COM\ FUNDO\ 2.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    opacity: 0.3;
    background-color: #DDDDDD;
 }

 .receita-img {
    background-image: url('./Logo\ Receita.jpeg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size:70%;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    opacity: 0.3;
    background-color: #FFFFFF;
    
 }

 
 li-receita {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color:white;
 }

 li-receita:hover{
    color: black;
    cursor: pointer
    
 }

 ul-receita {
    width: 90%;
    height: 50%;
    display:flex;
    align-items:center;
    justify-content:space-around;

 }

 li-sefaz {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
 }
 
 ul-sefaz {
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 li-sefaz:hover{
    color: black;
    cursor: pointer
 }

 .sefaz-img {
    background-image: url('./Logo\ sefaz\ al.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 25%;
    width:100%;
    height: 100vh;
    display: center;
    justify-content: center;
    background-color: #FFFFFF;
    opacity: 0.3;

 }

 .prefeitura-img {
    width: 50%;
    margin: 40px;
   display: inline-block;
    margin-top: 110px;
    
 }

 li-prefeitura{ 
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    color:black ;
 }

 li-prefeitura:hover{
    color:black;
    cursor: pointer
 }

 ul-prefeitura {
    width: 100%;
    height: 100%;
    display: center;
    grid-template-columns: repeat(4,1fr);
   
    
  
 }

 header-prefeitura {
    width: 100%;
    height: 80px;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    background-color: #01008C;
 }

 .certidao-img {
    width: 50%;
    margin: 40px;
   display: inline-block;
    margin-top: 110px;
    
 }
 .prefeitura-img {
    width: 50px;
    margin-top: 30px;
    padding-top: 20px;
    position: relative; top: 60px;
    transform: translaty(10px);
    left: 35px;
    
 }

 .logo-img-prefeitura {
    width: 80px;
 }

 .logo-img-receita {
    width: 80px;
 }

 .logo-img-sefaz {
    width: 80px;
 }

 .logo-img-certidao{
    width: 80px;
 }

 li-certidao {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
 }

 li-certidao  hover {
    color: black;
    cursor: pointer;
 }

 ul-certidao { 
    width: 100%;
    height: 100%;
    
    grid-template-columns: repeat(3,1fr);
 }
 .certidao-img {
    width: 50px;
    margin-top: 30px;
    padding-top: 20px;
    position: relative; top: 60px;
    transform: translaty(10px);
    left:35px
 }

 header-certidao {
    width: 100%;
    height: 80px;
    padding: 0 0px;
    display: flex;
    flex-direction: column;
    background-color: #01008C;
 }


 @media(max-width: 415px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      nav li {
        margin-bottom: 10px;
      }
      
      nav a {
        font-size: 10px;
      }

    header {
    height: 210px;
    width: 100%;
    }  

    .logo{
        width: 100px;
        height: auto;
    }

    .logo img {
        width: 100%;
        height: auto;
      }
    
 }





 
